<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все новости</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{menu::menu}"></div>

<br><br>
<div class="container border_news" style="min-height: 1000px;">

    <div class="row">
        <div class="col-md-8">
            <form method="get" th:action="@{/news/search}">
                <input type="text" name="search" placeholder="Введите заголовок">
                <input type="submit" style="margin-left: 0; margin-top: 10px" class="green" value="Поиск">
            </form>
        </div>
        <div class="col-md-4"/>
    </div>

    <div th:replace="~{message::message}"></div>

    <div class="row" th:if="${message == null}">
        <div class="col-md-12">
            <h2>Все новости: </h2>
        </div>
    </div>

    <div class="row" th:if="${message == null}">
        <br>
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Заголовок</th>
                    <th>Картинка</th>
                    <th>Текст</th>
                    <th>Действия</th>
                </tr>

                <tr th:each="news:${newsList}">
                    <td th:text="${news.id}"></td>
                    <td th:text="${news.title}"></td>
                    <td><img th:src="@{/images/{idImage} (idImage=${news.images[0].id})}" width="100px"/></td>
                    <td th:text="${news.getTextForIndex(150)}"></td>
                    <td>

                        <a th:href="@{/news/detail/{id}(id=${news.id})}" class="btn btn-success">Читать</a><br><br>

                        <div th:switch="${auth_user.role}">
                            <div th:case="'ROLE_ADMIN'">
                                <a th:href="@{/news/edit/{id}(id=${news.id})}" class="btn btn-warning">Редактировать</a><br><br>
                                <a th:href="@{/news/delete/{id}(id=${news.id})}" class="btn btn-danger">Удалить</a><br>
                            </div>
                        </div>

                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>


<div th:replace="~{footer::footer}"/>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>